################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/
/obj/
*.user
*.lock.json
*.sln
*.xproj
/.vscode/
/.vs/