
/src/FSharpWebApi/bin/*
!/src/FSharpWebApi/bin/Publish/
/src/FSharpWebApi/obj/
/test/FSharpWebApi.Tests/bin/
/test/FSharpWebApi.Tests/obj/
/docker/*.sh
*.user
*.lock.json
*.sln
*.xproj
/.vscode/
/.vs/

